@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', san-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: linear-gradient(to right, #eecda3, #ef629f);
    color:black;
    width: 100%;
}

ul li a{
    display: block;
    color: #505978;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.navbar{
    width: 790px;
    height: 60px;
    background: #fff;
    margin: 80px auto;
    padding: 0 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.fab{
    margin: 0 5px;
    color:rgb(187, 162, 162);
}

ul.menu,
ul.social_items{
    display: flex;
    margin: 0 5px;
}

.navbar .logo{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    color: brown;
}

.navbar .logo span{
    color: aquamarine;
}

.navbar ul.menu a{
    margin: 0 2px;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease;
}

.navbar.navbar_1 ul.menu a:hover{
    background: #202020;
    color: #fff;
    border-radius: 3px;

}